.profile {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #f5f5f5;
    line-height: 45px;
}

.profile img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    box-shadow: 0 0 15px 2px #3c3c3c;
}

.profile h1 {
    font-weight: bold;
    font-size: 3rem;
    word-break: keep-all;
    position: relative;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper:lang(rtl) {
    direction: rtl;
}

.wrapper:lang(ltr) {
    direction: ltr;
}

.typing {
    display: none;
    overflow: hidden;
    letter-spacing: 1px;
    white-space: nowrap;
    margin: 0 auto;
    font-weight: bold;
}

.wrapper:lang(rtl) .typing {
    border-left: 1px solid #c1839f;
}

.wrapper:lang(ltr) .typing {
    border-right: 1px solid #c1839f;
}

.typing.show {
    display: block;
    animation: typing 2s steps(10, end), test 1s step-end;
    -webkit-animation: typing 2s steps(10, end), test 1s step-end;
}

@keyframes typing {
    from {
        min-width: 0;
        max-width: 0;
    }
    to {
        min-width: 0;
        max-width: 100%;
    }
}

@keyframes test {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #c1839f;
    }
}

@media (max-width:768px) {
    .profile {
        line-height: 37px;
    }
    .profile h1 {
        font-size: 2rem;       
    }
    .typing {
        font-weight: normal;
    }
}