<div class="auth">
    <div class="auth-form">
        <form #formAuth="ngForm" (submit)="SubmitForm(formAuth)" method="POST" autocomplete="off">
            <div class="form-group">
                <h2 class="form-header">ورود به سایت</h2>
            </div>
            <div class="form-group">
                <input type="text" [(ngModel)]="Login.UserName" required class="form-control" name="UserName"
                    placeholder="نام کاربری">
            </div>
            <div class="form-group">
                <input type="password" [(ngModel)]="Login.Password" required class="form-control" name="Password"
                    placeholder="رمز عبور">
            </div>
            <div class="form-group">
                <input type="submit" value="ورود" class="btn btn-success" [disabled]="formAuth.invalid">
                <p *ngIf="unAuthorize" class="text-danger">اطلاعات وارد شده اشتباه است!</p>
            </div>
        </form>
    </div>
    <div class="auth-panel">
        <img src="assets/img/login.svg" alt="Login">
        <p>Login for Admin Document</p>
    </div>
</div>