<div class="content-home">
    <div class="panel-home">
        <div class="panel-header-home">
            <h3>{{'Router.Contact' | translate}}</h3>
            <i class="mdi mdi-24px mdi-all-inclusive"></i>
        </div>
        <div class="panel-content-home">
            <div class="contact-message">
                <form class="contact-form" #form="ngForm" method="POST" autocomplete="off"
                    [formGroup]="FormGroup" (submit)="SubmitContact()">    
                    <div class="form-group">
                        <input type="text" class="form-control" name="FullName"
                            [placeholder]="'Contact.FullName' | translate" id="FullName" formControlName="FullName"
                            (focusout)="ShowFullNameError?'':ShowFullNameError=true"
                            (keypress)="ShowFullNameError?'':ShowFullNameError=true" [(ngModel)]="Message.FullName">
                        <span class="text-danger"
                            *ngIf="FormGroup.invalid&&ShowFullNameError">{{GetErrorForm('FullName')}}</span>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="Email"
                            [placeholder]="'Contact.Email' | translate" id="Email" formControlName="Email"
                            (focusout)="ShowEmailError?'':ShowEmailError=true"
                            (keypress)="ShowEmailError?'':ShowEmailError=true" [(ngModel)]="Message.Email">
                        <span class="text-danger"
                            *ngIf="FormGroup.invalid&&ShowEmailError">{{GetErrorForm('Email')}}</span>
                    </div>
                    <div class="form-group">
                        <textarea name="Message" class="form-control" [placeholder]="'Contact.Message' | translate"
                            id="Message" formControlName="Message" spellcheck="false"
                            (focusout)="ShowMessageError?'':ShowMessageError=true"
                            (keypress)="ShowMessageError?'':ShowMessageError=true"
                            [(ngModel)]="Message.Message"></textarea>
                        <span class="text-danger"
                            *ngIf="FormGroup.invalid&&ShowMessageError">{{GetErrorForm('Message')}}</span>
                    </div>
                    <div class="form-group">
                        <input type="submit" [value]="'Contact.Send' | translate" id="Send"
                            [disabled]="FormGroup.invalid">
                        <span class="text-success" *ngIf="MessageOutput!=''">{{MessageOutput}}</span>
                    </div>
                </form>
            </div>
            <div class="contact-map">
                <div class="contact-item" [title]="'Contact.Instagram' | translate">
                    <i class="mdi mdi-36px mdi-instagram"></i>
                    <p>
                        <a href="https://www.instagram.com/amirmhm_83" target="_blank">
                            <bdi>@amirmhm_83</bdi>
                        </a>
                    </p>
                </div>
                <div class="contact-item" [title]="'Contact.Email2' | translate">
                    <i class="mdi mdi-36px mdi-email"></i>
                    <p>
                        <a href="mailto:ammirzaei.dev@gmail.com" target="_blank">
                            <bdi>ammirzaei.dev@gmail.com</bdi>
                        </a>
                    </p>
                </div>
                <div class="contact-item" [title]="'Contact.Telegram' | translate">
                    <i class="mdi mdi-36px mdi-telegram"></i>
                    <p>
                        <a href="https://t.me/ammirzaei" target="_blank">
                            <bdi>@ammirzaei</bdi>
                        </a>
                    </p>
                </div>
                <div class="contact-item" [title]="'Contact.Github' | translate">
                    <i class="mdi mdi-36px mdi-github-circle"></i>
                    <p>
                        <a href="https://github.com/ammirzaei" target="_blank">
                            <bdi>ammirzaei</bdi>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-loading></app-loading>