.loader {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3c3c3c;
    z-index: 9999;
    position: fixed;
    top: 0;
}

.loader.hide {
    z-index: -1;
    display: none;
}

.progress {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 20px solid transparent;
    border-right-color: #f5f5f5;
    border-left-color: #f5f5f5;
    overflow: hidden;
    animation: progress .9s linear infinite;
}

@keyframes progress {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(180deg);
    }
}

@media (max-width:768px) {
    .progress {
        width: 180px;
        height: 180px;
        border-width: 18px;
    }
}