<div class="admin">
    <aside>
        <header class="aside-header">
            <div class="date">1400/06/10</div>
            <div class="not">1 پیام</div>
        </header>
        <ul class="aside-ul">
            <h3 class="ul-header">پنل مدیریت</h3>
            <li>
                <i class="mdi mdi-24px mdi-home"></i>
                خانه
            </li>
            <li>
                <i class="mdi mdi-24px mdi-comment"></i>
                پیام ها
            </li>
            <li>
                <i class="mdi mdi-24px mdi-home"></i>
                خانه
            </li>
            <li>
                <i class="mdi mdi-24px mdi-logout"></i>
                خروج
            </li>
        </ul>
    </aside>
    <main>
        <section>
            <router-outlet></router-outlet>
        </section>
    </main>
</div>