<div class="content">
    <div class="panel">
        <div class="panel-header">
            <h3>{{'Router.Skills' | translate}}</h3>
            <i class="mdi mdi-24px mdi-all-inclusive"></i>
        </div>
        <div class="panel-content">
            <div class="skills" [class]="_translate.currentLang=='en'?'en':'fa'">
                <div class="skill">
                    <h2><bdi>C#</bdi></h2>
                    <p>{{'Skills.Programming-language' | translate}}</p>
                </div>
                <div class="skill">
                    <h2><bdi>Asp.Net Core</bdi></h2>
                    <p>{{'Skills.Framework' | translate}}</p>
                </div>
                <div class="skill">
                    <h2><bdi>Asp.Net Mvc</bdi></h2>
                    <p>{{'Skills.Framework' | translate}}</p>
                </div>
                <div class="skill">
                    <h2><bdi>SignalR</bdi></h2>
                    <p>{{'Skills.Library' | translate}}</p>
                </div>
                <div class="skill">
                    <h2><bdi>Java Script</bdi></h2>
                    <p>{{'Skills.Programming-language' | translate}}</p>
                </div>
                <div class="skill">
                    <h2><bdi>Type Script</bdi></h2>
                    <p>{{'Skills.Programming-language' | translate}}</p>
                </div>
                <div class="skill">
                    <h2><bdi>Angular</bdi></h2>
                    <p>{{'Skills.Framework' | translate}}</p>
                </div>
                <div class="skill">
                    <h2><bdi>Jquery</bdi></h2>
                    <p>{{'Skills.Library' | translate}}</p>
                </div>
                <div class="skill">
                    <h2><bdi>ngx-Translate</bdi></h2>
                    <p>{{'Skills.Library' | translate}}</p>
                </div>
                <div class="skill">
                    <h2><bdi>Html5</bdi></h2>
                    <p>{{'Skills.Markup-language' | translate}}</p>
                </div>
                <div class="skill">
                    <h2><bdi>Css3</bdi></h2>
                    <p>{{'Skills.Markup-language' | translate}}</p>
                </div>
                <div class="skill">
                    <h2><bdi>Bootstrap</bdi></h2>
                    <p>{{'Skills.Framework' | translate}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-loading></app-loading>